# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*
/broadcast/*/31337/
/broadcast/**/dry-run/

# Ignore all script inputs such as CREATE2 salts
script/input

# Ignore documentation
docs/
# Dotenv file
.env*
