[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = v4.9.3
[submodule "lib/protocol-ops"]
	path = lib/protocol-ops
	url = git@github.com:0xStation/Protocol-Ops.git
